# Server
server.port= Server Port to run on
server.servlet.context-path= context-path

# Mysql
spring.datasource.url=jdbc:mysql://host:port/databaseName?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true7connectionTimeZone=Asia/Calcutta
spring.datasource.username=mysql username
spring.datasource.password=mysql password

#  JPA
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.generate-ddl=true

#
server.error.whitelabel.enabled=false

#hibernate
spring.jpa.properties.show_sql=true
spring.jpa.hibernate.ddl-auto=update
logging.level.org.hibernate.orm.jdbc.bind=trace
# logging.level.org.hibernate.type=info
logging.level.org.hibernate.type=trace
logging.level.org.hibernate.stat=debug

# time zone 
# Asia/Calcutta
app.config.time-zone=

# bookings
# 5
# app.config.bookings.max-enabled-days=
# 18:30
# app.config.bookings.opening-time=

#jwt
app.jwt.secret=